--
-- PostgreSQL database dump
--

\restrict rDIjVnNQxTWbaPGGZEG40pP5LaLaE0LvfW9yooWrLtD7lHNZA6IFSTWjR4pKPhb

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agents; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.agents (
    id text NOT NULL,
    icon character varying(10) NOT NULL,
    color character varying(7) NOT NULL,
    name_i18n jsonb NOT NULL,
    description_i18n jsonb NOT NULL,
    legal_basis text,
    premium boolean DEFAULT false NOT NULL,
    sort integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.agents OWNER TO justiniano;

--
-- Name: attachments; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.attachments (
    id text NOT NULL,
    user_id text NOT NULL,
    message_id text,
    blob_path text NOT NULL,
    name character varying(255) NOT NULL,
    size_bytes bigint NOT NULL,
    content_type character varying(100) NOT NULL,
    sensitive boolean DEFAULT false NOT NULL,
    purge_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT attachments_size_chk CHECK ((size_bytes >= 0))
);


ALTER TABLE public.attachments OWNER TO justiniano;

--
-- Name: audit_events; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.audit_events (
    id text NOT NULL,
    user_id text,
    event character varying(30) NOT NULL,
    detail jsonb,
    ip character varying(45),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_events OWNER TO justiniano;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.clients (
    id text NOT NULL,
    seller_id text NOT NULL,
    company character varying(120) NOT NULL,
    contact character varying(120) NOT NULL,
    email character varying(254),
    phone character varying(20),
    city character varying(80),
    industry character varying(60),
    status character varying(10) DEFAULT 'prospect'::character varying NOT NULL,
    linked_user_id text,
    note text,
    projection jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT clients_status_chk CHECK (((status)::text = ANY ((ARRAY['client'::character varying, 'prospect'::character varying])::text[])))
);


ALTER TABLE public.clients OWNER TO justiniano;

--
-- Name: consultations; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.consultations (
    id text NOT NULL,
    user_id text NOT NULL,
    agent_id text NOT NULL,
    title character varying(200) NOT NULL,
    interactions_used integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_message_at timestamp with time zone,
    CONSTRAINT consultations_interactions_chk CHECK ((interactions_used >= 0))
);


ALTER TABLE public.consultations OWNER TO justiniano;

--
-- Name: credit_transactions; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.credit_transactions (
    id text NOT NULL,
    user_id text NOT NULL,
    delta integer NOT NULL,
    reason character varying(20) NOT NULL,
    reference_id text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT credit_transactions_reason_chk CHECK (((reason)::text = ANY ((ARRAY['gift'::character varying, 'purchase'::character varying, 'review_spend'::character varying, 'plan_bonus'::character varying])::text[])))
);


ALTER TABLE public.credit_transactions OWNER TO justiniano;

--
-- Name: document_areas; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.document_areas (
    id text NOT NULL,
    name_i18n jsonb NOT NULL,
    icon character varying(10),
    sort integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.document_areas OWNER TO justiniano;

--
-- Name: document_formats; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.document_formats (
    id text NOT NULL,
    area_id text NOT NULL,
    name_i18n jsonb NOT NULL,
    doc_type character varying(30) NOT NULL,
    notarial_required boolean DEFAULT false NOT NULL,
    fields_schema jsonb NOT NULL,
    template_body text
);


ALTER TABLE public.document_formats OWNER TO justiniano;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.documents (
    id text NOT NULL,
    user_id text NOT NULL,
    format_id text NOT NULL,
    consultation_id text,
    name character varying(200) NOT NULL,
    status character varying(10) DEFAULT 'draft'::character varying NOT NULL,
    fields jsonb DEFAULT '{}'::jsonb NOT NULL,
    content_html text,
    missing_fields jsonb,
    disclaimer_removed boolean DEFAULT false NOT NULL,
    disclaimer_removed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT documents_status_chk CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'pending'::character varying, 'review'::character varying, 'ready'::character varying])::text[])))
);


ALTER TABLE public.documents OWNER TO justiniano;

--
-- Name: history_access_log; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.history_access_log (
    id text NOT NULL,
    lawyer_id text NOT NULL,
    review_id text NOT NULL,
    document_id text NOT NULL,
    viewed_at timestamp with time zone DEFAULT now() NOT NULL,
    ip character varying(45)
);


ALTER TABLE public.history_access_log OWNER TO justiniano;

--
-- Name: lawyer_fee_entries; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.lawyer_fee_entries (
    id text NOT NULL,
    lawyer_id text NOT NULL,
    review_id text NOT NULL,
    kind character varying(15) NOT NULL,
    urgency character varying(5) NOT NULL,
    amount_clp integer NOT NULL,
    rate_version_id text,
    accrued_at timestamp with time zone DEFAULT now() NOT NULL,
    settlement_id text,
    CONSTRAINT lawyer_fee_entries_amount_chk CHECK ((amount_clp >= 0)),
    CONSTRAINT lawyer_fee_entries_kind_chk CHECK (((kind)::text = ANY ((ARRAY['review'::character varying, 'consultation'::character varying])::text[]))),
    CONSTRAINT lawyer_fee_entries_urgency_chk CHECK (((urgency)::text = ANY ((ARRAY['std'::character varying, 'fast'::character varying])::text[])))
);


ALTER TABLE public.lawyer_fee_entries OWNER TO justiniano;

--
-- Name: lawyer_fee_rates; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.lawyer_fee_rates (
    id text NOT NULL,
    version integer NOT NULL,
    review_std_clp integer NOT NULL,
    review_urgent_clp integer NOT NULL,
    consultation_std_clp integer NOT NULL,
    consultation_urgent_clp integer NOT NULL,
    sla_bonus_pct integer DEFAULT 5 NOT NULL,
    effective_from date NOT NULL,
    created_by text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT lawyer_fee_rates_bonus_chk CHECK (((sla_bonus_pct >= 0) AND (sla_bonus_pct <= 50))),
    CONSTRAINT lawyer_fee_rates_consultation_chk CHECK (((consultation_std_clp > 0) AND (consultation_urgent_clp >= consultation_std_clp))),
    CONSTRAINT lawyer_fee_rates_review_chk CHECK (((review_std_clp > 0) AND (review_urgent_clp >= review_std_clp)))
);


ALTER TABLE public.lawyer_fee_rates OWNER TO justiniano;

--
-- Name: lawyer_settlements; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.lawyer_settlements (
    id text NOT NULL,
    lawyer_id text NOT NULL,
    period character varying(7) NOT NULL,
    reviews_count integer DEFAULT 0 NOT NULL,
    consultations_count integer DEFAULT 0 NOT NULL,
    sla_bonus_pct integer DEFAULT 0 NOT NULL,
    total_clp integer DEFAULT 0 NOT NULL,
    status character varying(12) DEFAULT 'open'::character varying NOT NULL,
    paid_at timestamp with time zone,
    receipt_blob text,
    CONSTRAINT lawyer_settlements_status_chk CHECK (((status)::text = ANY ((ARRAY['open'::character varying, 'processing'::character varying, 'paid'::character varying])::text[])))
);


ALTER TABLE public.lawyer_settlements OWNER TO justiniano;

--
-- Name: lawyers; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.lawyers (
    id text NOT NULL,
    user_id text NOT NULL,
    name character varying(120) NOT NULL,
    rut character varying(12) NOT NULL,
    bar character varying(80) DEFAULT 'Colegio de Abogados de Chile'::character varying NOT NULL,
    birth_date date NOT NULL,
    university character varying(120),
    degree_year integer,
    id_document_blob text,
    degree_certificate_blob text,
    verification_status character varying(10) DEFAULT 'pending'::character varying NOT NULL,
    rejection_reason text,
    verified_at timestamp with time zone,
    verified_by text,
    specialties text[] DEFAULT '{}'::text[] NOT NULL,
    specialties_pending text[] DEFAULT '{}'::text[] NOT NULL,
    rating double precision,
    ratings_count integer DEFAULT 0 NOT NULL,
    sla_hours integer DEFAULT 48 NOT NULL,
    accepts_urgent boolean DEFAULT true NOT NULL,
    available boolean DEFAULT true NOT NULL,
    paused boolean DEFAULT false NOT NULL,
    max_concurrent_cases integer DEFAULT 5 NOT NULL,
    suspended_at timestamp with time zone,
    suspension_reason text,
    promoter boolean DEFAULT false NOT NULL,
    active boolean DEFAULT true NOT NULL,
    availability character varying(10),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT lawyers_availability_chk CHECK (((availability IS NULL) OR ((availability)::text = ANY ((ARRAY['lt_5h'::character varying, '5_15h'::character varying, 'gt_15h'::character varying])::text[])))),
    CONSTRAINT lawyers_max_cases_chk CHECK ((max_concurrent_cases >= 1)),
    CONSTRAINT lawyers_verification_status_chk CHECK (((verification_status)::text = ANY ((ARRAY['pending'::character varying, 'verified'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.lawyers OWNER TO justiniano;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.messages (
    id text NOT NULL,
    consultation_id text NOT NULL,
    role character varying(10) NOT NULL,
    content text NOT NULL,
    legal_basis jsonb,
    suggestions jsonb,
    suggested_format_id text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT messages_role_chk CHECK (((role)::text = ANY ((ARRAY['user'::character varying, 'assistant'::character varying])::text[])))
);


ALTER TABLE public.messages OWNER TO justiniano;

--
-- Name: otp_codes; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.otp_codes (
    id text NOT NULL,
    user_id text NOT NULL,
    channel character varying(10) NOT NULL,
    code_hash character varying(64) NOT NULL,
    purpose character varying(20) NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    consumed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT otp_codes_attempts_chk CHECK ((attempts >= 0)),
    CONSTRAINT otp_codes_channel_chk CHECK (((channel)::text = ANY ((ARRAY['email'::character varying, 'sms'::character varying])::text[]))),
    CONSTRAINT otp_codes_purpose_chk CHECK (((purpose)::text = ANY ((ARRAY['verify_email'::character varying, 'verify_phone'::character varying, 'mfa'::character varying, 'reset'::character varying])::text[])))
);


ALTER TABLE public.otp_codes OWNER TO justiniano;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.payments (
    id text NOT NULL,
    user_id text NOT NULL,
    stripe_event_id character varying(64),
    description character varying(200) NOT NULL,
    amount_clp integer NOT NULL,
    status character varying(20) NOT NULL,
    invoice_url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payments OWNER TO justiniano;

--
-- Name: plan_versions; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.plan_versions (
    id text NOT NULL,
    plan_id text NOT NULL,
    version integer NOT NULL,
    price_monthly_clp integer,
    price_annual_clp integer,
    limits jsonb NOT NULL,
    created_by text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT plan_versions_version_chk CHECK ((version >= 1))
);


ALTER TABLE public.plan_versions OWNER TO justiniano;

--
-- Name: plans; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.plans (
    id text NOT NULL,
    name character varying(60) NOT NULL,
    color character varying(7) DEFAULT '#FF6B35'::character varying NOT NULL,
    price_monthly_clp integer,
    price_annual_clp integer,
    corporate boolean DEFAULT false NOT NULL,
    active boolean DEFAULT true NOT NULL,
    limits jsonb NOT NULL,
    stripe_price_ids jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT plans_price_annual_chk CHECK (((price_annual_clp IS NULL) OR (price_annual_clp >= 0))),
    CONSTRAINT plans_price_monthly_chk CHECK (((price_monthly_clp IS NULL) OR (price_monthly_clp >= 0)))
);


ALTER TABLE public.plans OWNER TO justiniano;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    user_id text NOT NULL,
    token_hash character varying(64) NOT NULL,
    family_id text NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO justiniano;

--
-- Name: review_annotations; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.review_annotations (
    id text NOT NULL,
    review_id text NOT NULL,
    lawyer_id text NOT NULL,
    paragraph_index integer NOT NULL,
    kind character varying(10) NOT NULL,
    comment_text text,
    original_text text,
    proposed_text text,
    client_resolution character varying(10) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT review_annotations_kind_chk CHECK (((kind)::text = ANY ((ARRAY['comment'::character varying, 'change'::character varying, 'highlight'::character varying])::text[]))),
    CONSTRAINT review_annotations_paragraph_chk CHECK ((paragraph_index >= 0)),
    CONSTRAINT review_annotations_resolution_chk CHECK (((client_resolution)::text = ANY ((ARRAY['pending'::character varying, 'accepted'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.review_annotations OWNER TO justiniano;

--
-- Name: review_messages; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.review_messages (
    id text NOT NULL,
    review_id text NOT NULL,
    sender_role character varying(10) NOT NULL,
    sender_user_id text NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    read_at timestamp with time zone,
    CONSTRAINT review_messages_sender_role_chk CHECK (((sender_role)::text = ANY ((ARRAY['client'::character varying, 'lawyer'::character varying])::text[])))
);


ALTER TABLE public.review_messages OWNER TO justiniano;

--
-- Name: review_state_history; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.review_state_history (
    id text NOT NULL,
    review_id text NOT NULL,
    state integer NOT NULL,
    actor_role character varying(10) DEFAULT 'system'::character varying NOT NULL,
    actor_user_id text,
    reason text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT review_state_history_actor_chk CHECK (((actor_role)::text = ANY ((ARRAY['system'::character varying, 'lawyer'::character varying, 'admin'::character varying])::text[]))),
    CONSTRAINT review_state_history_state_chk CHECK (((state >= 1) AND (state <= 4)))
);


ALTER TABLE public.review_state_history OWNER TO justiniano;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.reviews (
    id text NOT NULL,
    user_id text NOT NULL,
    target_type character varying(10) NOT NULL,
    document_id text,
    message_id text,
    urgency character varying(5) NOT NULL,
    assignment_mode character varying(10) NOT NULL,
    source character varying(10) DEFAULT 'direct'::character varying NOT NULL,
    area character varying(10),
    lawyer_id text,
    assigned_by text,
    state integer DEFAULT 1 NOT NULL,
    assigned_at timestamp with time zone,
    accepted_at timestamp with time zone,
    sla_due_at timestamp with time zone,
    rejected_reason text,
    draft text,
    notes text,
    observations text,
    final_observations text,
    response_text text,
    declaration_accepted_at timestamp with time zone,
    delivered_at timestamp with time zone,
    late boolean DEFAULT false NOT NULL,
    fee_amount_clp integer,
    cost_credits integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT reviews_assignment_mode_chk CHECK (((assignment_mode)::text = ANY ((ARRAY['auto'::character varying, 'frequent'::character varying, 'pick'::character varying])::text[]))),
    CONSTRAINT reviews_cost_credits_chk CHECK ((cost_credits >= 0)),
    CONSTRAINT reviews_source_chk CHECK (((source)::text = ANY ((ARRAY['direct'::character varying, 'pool'::character varying, 'admin'::character varying])::text[]))),
    CONSTRAINT reviews_state_chk CHECK (((state >= 1) AND (state <= 4))),
    CONSTRAINT reviews_target_type_chk CHECK (((target_type)::text = ANY ((ARRAY['document'::character varying, 'message'::character varying])::text[]))),
    CONSTRAINT reviews_urgency_chk CHECK (((urgency)::text = ANY ((ARRAY['std'::character varying, 'fast'::character varying])::text[])))
);


ALTER TABLE public.reviews OWNER TO justiniano;

--
-- Name: sales_contracts; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.sales_contracts (
    id text NOT NULL,
    seller_id text NOT NULL,
    client_id text,
    user_id text,
    plan_id text NOT NULL,
    monthly_amount_clp integer NOT NULL,
    closed_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT sales_contracts_amount_chk CHECK ((monthly_amount_clp >= 0))
);


ALTER TABLE public.sales_contracts OWNER TO justiniano;

--
-- Name: sellers; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.sellers (
    id text NOT NULL,
    user_id text NOT NULL,
    target_monthly_clp integer DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT sellers_target_chk CHECK ((target_monthly_clp >= 0))
);


ALTER TABLE public.sellers OWNER TO justiniano;

--
-- Name: service_incidents; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.service_incidents (
    id text NOT NULL,
    service character varying(60) NOT NULL,
    summary character varying(300) NOT NULL,
    started_at timestamp with time zone NOT NULL,
    resolved_at timestamp with time zone,
    severity character varying(10) DEFAULT 'warn'::character varying NOT NULL
);


ALTER TABLE public.service_incidents OWNER TO justiniano;

--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.subscriptions (
    id text NOT NULL,
    user_id text NOT NULL,
    plan_id text NOT NULL,
    plan_version_id text,
    billing_cycle character varying(10) DEFAULT 'monthly'::character varying NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    stripe_subscription_id character varying(64),
    current_period_end timestamp with time zone,
    cancel_at_period_end boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT subscriptions_billing_cycle_chk CHECK (((billing_cycle)::text = ANY ((ARRAY['monthly'::character varying, 'annual'::character varying])::text[])))
);


ALTER TABLE public.subscriptions OWNER TO justiniano;

--
-- Name: users; Type: TABLE; Schema: public; Owner: justiniano
--

CREATE TABLE public.users (
    id text NOT NULL,
    name character varying(120) NOT NULL,
    email character varying(254) NOT NULL,
    email_verified boolean DEFAULT false NOT NULL,
    phone character varying(20),
    phone_verified boolean DEFAULT false NOT NULL,
    password_hash text NOT NULL,
    company character varying(120),
    country character varying(2) DEFAULT 'CL'::character varying NOT NULL,
    lang character varying(2) DEFAULT 'es'::character varying NOT NULL,
    theme character varying(10) DEFAULT 'light'::character varying NOT NULL,
    plan_id text,
    credits integer DEFAULT 0 NOT NULL,
    size character varying(30),
    industry character varying(60),
    city character varying(80),
    contact_role character varying(60),
    onboarding_done boolean DEFAULT false NOT NULL,
    role character varying(10) DEFAULT 'client'::character varying NOT NULL,
    mfa_enabled boolean DEFAULT false NOT NULL,
    notif_email boolean DEFAULT true NOT NULL,
    notif_sms boolean DEFAULT false NOT NULL,
    terms_version character varying(7),
    terms_accepted_at timestamp with time zone,
    stripe_customer_id character varying(64),
    billing_cycle character varying(10) DEFAULT 'monthly'::character varying NOT NULL,
    last_activity_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT users_billing_cycle_chk CHECK (((billing_cycle)::text = ANY ((ARRAY['monthly'::character varying, 'annual'::character varying])::text[]))),
    CONSTRAINT users_credits_chk CHECK ((credits >= 0)),
    CONSTRAINT users_role_chk CHECK (((role)::text = ANY ((ARRAY['client'::character varying, 'seller'::character varying, 'lawyer'::character varying, 'admin'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO justiniano;

--
-- Data for Name: agents; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: attachments; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.attachments (id, user_id, message_id, blob_path, name, size_bytes, content_type, sensitive, purge_at, created_at) FROM stdin;
\.


--
-- Data for Name: audit_events; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: consultations; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: credit_transactions; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.credit_transactions (id, user_id, delta, reason, reference_id, created_at) FROM stdin;
ctx_1	usr_cli1	5	plan_bonus	p_int	2026-07-01 12:00:00+00
ctx_2	usr_cli1	-2	review_spend	rev_pool1	2026-08-07 10:48:00+00
ctx_3	usr_cli2	3	gift	\N	2026-07-10 10:05:00+00
ctx_4	usr_cli2	-1	review_spend	rev_act1	2026-08-06 08:55:00+00
\.


--
-- Data for Name: document_areas; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.document_areas (id, name_i18n, icon, sort) FROM stdin;
lab	{"en": "Labor", "es": "Laboral"}	ÔÜû´©Å	1
con	{"en": "Contracts", "es": "Contratos"}	­ƒôØ	2
soc	{"en": "Corporate", "es": "Societario"}	­ƒÅó	3
\.


--
-- Data for Name: document_formats; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: history_access_log; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.history_access_log (id, lawyer_id, review_id, document_id, viewed_at, ip) FROM stdin;
\.


--
-- Data for Name: lawyer_fee_entries; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.lawyer_fee_entries (id, lawyer_id, review_id, kind, urgency, amount_clp, rate_version_id, accrued_at, settlement_id) FROM stdin;
\.


--
-- Data for Name: lawyer_fee_rates; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.lawyer_fee_rates (id, version, review_std_clp, review_urgent_clp, consultation_std_clp, consultation_urgent_clp, sla_bonus_pct, effective_from, created_by, created_at) FROM stdin;
rate_v1	1	18000	28000	8000	12000	5	2026-01-01	usr_admin1	2026-09-09 19:10:32.2767+00
\.


--
-- Data for Name: lawyer_settlements; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.lawyer_settlements (id, lawyer_id, period, reviews_count, consultations_count, sla_bonus_pct, total_clp, status, paid_at, receipt_blob) FROM stdin;
\.


--
-- Data for Name: lawyers; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: otp_codes; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.otp_codes (id, user_id, channel, code_hash, purpose, attempts, expires_at, consumed_at, created_at) FROM stdin;
otp_883e54d9926bd60f	usr_afc450331edf84b3	email	e4b12cb1f7ad295d86f7983944d054abc518c4fd7d549092da82a0c66e43110f	verify_email	0	2026-09-09 19:56:43.391895+00	\N	2026-09-09 19:46:43.382649+00
otp_f8ed843a66ec3566	usr_afc450331edf84b3	email	3314350b299fa1cb160f37e6199a2fd3763c7c711043c109f939055e983224b1	verify_email	0	2026-09-09 20:01:58.369272+00	\N	2026-09-09 19:51:58.359508+00
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.payments (id, user_id, stripe_event_id, description, amount_clp, status, invoice_url, created_at) FROM stdin;
\.


--
-- Data for Name: plan_versions; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: review_annotations; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.review_annotations (id, review_id, lawyer_id, paragraph_index, kind, comment_text, original_text, proposed_text, client_resolution, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: review_messages; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.review_messages (id, review_id, sender_role, sender_user_id, content, created_at, read_at) FROM stdin;
\.


--
-- Data for Name: review_state_history; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Data for Name: sales_contracts; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.sales_contracts (id, seller_id, client_id, user_id, plan_id, monthly_amount_clp, closed_at) FROM stdin;
sct_1	sel_1	cli_1	usr_cli1	p_int	59900	2026-07-01 12:00:00+00
\.


--
-- Data for Name: sellers; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.sellers (id, user_id, target_monthly_clp, active, created_at) FROM stdin;
sel_1	usr_seller1	1500000	t	2026-09-09 19:10:32.254929+00
\.


--
-- Data for Name: service_incidents; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.service_incidents (id, service, summary, started_at, resolved_at, severity) FROM stdin;
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: justiniano
--

COPY public.subscriptions (id, user_id, plan_id, plan_version_id, billing_cycle, status, stripe_subscription_id, current_period_end, cancel_at_period_end, created_at) FROM stdin;
sub_1	usr_cli1	p_int	plv_int1	monthly	active	\N	2026-09-01 00:00:00+00	f	2026-09-09 19:10:32.272605+00
sub_2	usr_cli2	p_bas	plv_bas1	monthly	active	\N	2026-09-10 00:00:00+00	f	2026-09-09 19:10:32.272605+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: justiniano
--



--
-- Name: agents agents_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_pkey PRIMARY KEY (id);


--
-- Name: attachments attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_pkey PRIMARY KEY (id);


--
-- Name: audit_events audit_events_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: consultations consultations_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.consultations
    ADD CONSTRAINT consultations_pkey PRIMARY KEY (id);


--
-- Name: credit_transactions credit_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.credit_transactions
    ADD CONSTRAINT credit_transactions_pkey PRIMARY KEY (id);


--
-- Name: document_areas document_areas_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.document_areas
    ADD CONSTRAINT document_areas_pkey PRIMARY KEY (id);


--
-- Name: document_formats document_formats_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.document_formats
    ADD CONSTRAINT document_formats_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: history_access_log history_access_log_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.history_access_log
    ADD CONSTRAINT history_access_log_pkey PRIMARY KEY (id);


--
-- Name: lawyer_fee_entries lawyer_fee_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_fee_entries
    ADD CONSTRAINT lawyer_fee_entries_pkey PRIMARY KEY (id);


--
-- Name: lawyer_fee_entries lawyer_fee_entries_review_id_key; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_fee_entries
    ADD CONSTRAINT lawyer_fee_entries_review_id_key UNIQUE (review_id);


--
-- Name: lawyer_fee_rates lawyer_fee_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_fee_rates
    ADD CONSTRAINT lawyer_fee_rates_pkey PRIMARY KEY (id);


--
-- Name: lawyer_fee_rates lawyer_fee_rates_version_key; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_fee_rates
    ADD CONSTRAINT lawyer_fee_rates_version_key UNIQUE (version);


--
-- Name: lawyer_settlements lawyer_settlements_lawyer_period_uq; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_settlements
    ADD CONSTRAINT lawyer_settlements_lawyer_period_uq UNIQUE (lawyer_id, period);


--
-- Name: lawyer_settlements lawyer_settlements_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_settlements
    ADD CONSTRAINT lawyer_settlements_pkey PRIMARY KEY (id);


--
-- Name: lawyers lawyers_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyers
    ADD CONSTRAINT lawyers_pkey PRIMARY KEY (id);


--
-- Name: lawyers lawyers_rut_key; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyers
    ADD CONSTRAINT lawyers_rut_key UNIQUE (rut);


--
-- Name: lawyers lawyers_user_id_key; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyers
    ADD CONSTRAINT lawyers_user_id_key UNIQUE (user_id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: otp_codes otp_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.otp_codes
    ADD CONSTRAINT otp_codes_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: payments payments_stripe_event_id_key; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_stripe_event_id_key UNIQUE (stripe_event_id);


--
-- Name: plan_versions plan_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.plan_versions
    ADD CONSTRAINT plan_versions_pkey PRIMARY KEY (id);


--
-- Name: plan_versions plan_versions_plan_version_uq; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.plan_versions
    ADD CONSTRAINT plan_versions_plan_version_uq UNIQUE (plan_id, version);


--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_token_hash_key; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_token_hash_key UNIQUE (token_hash);


--
-- Name: review_annotations review_annotations_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.review_annotations
    ADD CONSTRAINT review_annotations_pkey PRIMARY KEY (id);


--
-- Name: review_messages review_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.review_messages
    ADD CONSTRAINT review_messages_pkey PRIMARY KEY (id);


--
-- Name: review_state_history review_state_history_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.review_state_history
    ADD CONSTRAINT review_state_history_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: sales_contracts sales_contracts_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.sales_contracts
    ADD CONSTRAINT sales_contracts_pkey PRIMARY KEY (id);


--
-- Name: sellers sellers_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.sellers
    ADD CONSTRAINT sellers_pkey PRIMARY KEY (id);


--
-- Name: sellers sellers_user_id_key; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.sellers
    ADD CONSTRAINT sellers_user_id_key UNIQUE (user_id);


--
-- Name: service_incidents service_incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.service_incidents
    ADD CONSTRAINT service_incidents_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_user_id_key; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_key UNIQUE (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_agents_sort; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_agents_sort ON public.agents USING btree (sort);


--
-- Name: idx_attachments_message_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_attachments_message_id ON public.attachments USING btree (message_id);


--
-- Name: idx_attachments_purge_at; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_attachments_purge_at ON public.attachments USING btree (purge_at) WHERE (purge_at IS NOT NULL);


--
-- Name: idx_attachments_user_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_attachments_user_id ON public.attachments USING btree (user_id);


--
-- Name: idx_audit_events_event_created; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_audit_events_event_created ON public.audit_events USING btree (event, created_at);


--
-- Name: idx_audit_events_user_event; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_audit_events_user_event ON public.audit_events USING btree (user_id, event, created_at);


--
-- Name: idx_clients_linked_user_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_clients_linked_user_id ON public.clients USING btree (linked_user_id);


--
-- Name: idx_clients_seller_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_clients_seller_id ON public.clients USING btree (seller_id);


--
-- Name: idx_clients_seller_status; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_clients_seller_status ON public.clients USING btree (seller_id, status);


--
-- Name: idx_consultations_agent_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_consultations_agent_id ON public.consultations USING btree (agent_id);


--
-- Name: idx_consultations_user_last; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_consultations_user_last ON public.consultations USING btree (user_id, last_message_at DESC);


--
-- Name: idx_credit_transactions_user; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_credit_transactions_user ON public.credit_transactions USING btree (user_id, created_at DESC);


--
-- Name: idx_document_formats_area_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_document_formats_area_id ON public.document_formats USING btree (area_id);


--
-- Name: idx_documents_consultation; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_documents_consultation ON public.documents USING btree (consultation_id);


--
-- Name: idx_documents_format_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_documents_format_id ON public.documents USING btree (format_id);


--
-- Name: idx_documents_user_created; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_documents_user_created ON public.documents USING btree (user_id, created_at DESC);


--
-- Name: idx_documents_user_status; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_documents_user_status ON public.documents USING btree (user_id, status);


--
-- Name: idx_history_access_log_document; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_history_access_log_document ON public.history_access_log USING btree (document_id);


--
-- Name: idx_history_access_log_lawyer; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_history_access_log_lawyer ON public.history_access_log USING btree (lawyer_id, viewed_at DESC);


--
-- Name: idx_history_access_log_review; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_history_access_log_review ON public.history_access_log USING btree (review_id);


--
-- Name: idx_lawyer_fee_entries_lawyer; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_lawyer_fee_entries_lawyer ON public.lawyer_fee_entries USING btree (lawyer_id, accrued_at DESC);


--
-- Name: idx_lawyer_fee_entries_pending; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_lawyer_fee_entries_pending ON public.lawyer_fee_entries USING btree (lawyer_id) WHERE (settlement_id IS NULL);


--
-- Name: idx_lawyer_fee_entries_rate; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_lawyer_fee_entries_rate ON public.lawyer_fee_entries USING btree (rate_version_id);


--
-- Name: idx_lawyer_fee_entries_settle; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_lawyer_fee_entries_settle ON public.lawyer_fee_entries USING btree (settlement_id);


--
-- Name: idx_lawyer_fee_rates_effective; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_lawyer_fee_rates_effective ON public.lawyer_fee_rates USING btree (effective_from DESC);


--
-- Name: idx_lawyers_verification_status; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_lawyers_verification_status ON public.lawyers USING btree (verification_status);


--
-- Name: idx_lawyers_verified_by; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_lawyers_verified_by ON public.lawyers USING btree (verified_by);


--
-- Name: idx_messages_consultation; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_messages_consultation ON public.messages USING btree (consultation_id, created_at);


--
-- Name: idx_otp_codes_pending; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_otp_codes_pending ON public.otp_codes USING btree (user_id, purpose) WHERE (consumed_at IS NULL);


--
-- Name: idx_otp_codes_user_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_otp_codes_user_id ON public.otp_codes USING btree (user_id);


--
-- Name: idx_payments_user; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_payments_user ON public.payments USING btree (user_id, created_at DESC);


--
-- Name: idx_plan_versions_created_by; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_plan_versions_created_by ON public.plan_versions USING btree (created_by);


--
-- Name: idx_plans_active; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_plans_active ON public.plans USING btree (active);


--
-- Name: idx_refresh_tokens_family_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_refresh_tokens_family_id ON public.refresh_tokens USING btree (family_id);


--
-- Name: idx_refresh_tokens_user_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_refresh_tokens_user_id ON public.refresh_tokens USING btree (user_id);


--
-- Name: idx_review_annotations_lawyer; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_review_annotations_lawyer ON public.review_annotations USING btree (lawyer_id);


--
-- Name: idx_review_annotations_review; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_review_annotations_review ON public.review_annotations USING btree (review_id, paragraph_index);


--
-- Name: idx_review_messages_review; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_review_messages_review ON public.review_messages USING btree (review_id, created_at);


--
-- Name: idx_review_messages_sender; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_review_messages_sender ON public.review_messages USING btree (sender_user_id);


--
-- Name: idx_review_state_history_review; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_review_state_history_review ON public.review_state_history USING btree (review_id, created_at);


--
-- Name: idx_reviews_document_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_reviews_document_id ON public.reviews USING btree (document_id);


--
-- Name: idx_reviews_lawyer_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_reviews_lawyer_id ON public.reviews USING btree (lawyer_id);


--
-- Name: idx_reviews_message_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_reviews_message_id ON public.reviews USING btree (message_id);


--
-- Name: idx_reviews_pool; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_reviews_pool ON public.reviews USING btree (urgency, area, created_at) WHERE ((state = 1) AND (lawyer_id IS NULL));


--
-- Name: idx_reviews_sla_due; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_reviews_sla_due ON public.reviews USING btree (sla_due_at) WHERE (state = ANY (ARRAY[2, 3]));


--
-- Name: idx_reviews_state_lawyer; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_reviews_state_lawyer ON public.reviews USING btree (state, lawyer_id);


--
-- Name: idx_reviews_user_created; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_reviews_user_created ON public.reviews USING btree (user_id, created_at DESC);


--
-- Name: idx_sales_contracts_client_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_sales_contracts_client_id ON public.sales_contracts USING btree (client_id);


--
-- Name: idx_sales_contracts_plan_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_sales_contracts_plan_id ON public.sales_contracts USING btree (plan_id);


--
-- Name: idx_sales_contracts_seller; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_sales_contracts_seller ON public.sales_contracts USING btree (seller_id, closed_at DESC);


--
-- Name: idx_sales_contracts_user_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_sales_contracts_user_id ON public.sales_contracts USING btree (user_id);


--
-- Name: idx_service_incidents_open; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_service_incidents_open ON public.service_incidents USING btree (service) WHERE (resolved_at IS NULL);


--
-- Name: idx_service_incidents_started; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_service_incidents_started ON public.service_incidents USING btree (started_at DESC);


--
-- Name: idx_subscriptions_plan_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_subscriptions_plan_id ON public.subscriptions USING btree (plan_id);


--
-- Name: idx_subscriptions_plan_version_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_subscriptions_plan_version_id ON public.subscriptions USING btree (plan_version_id);


--
-- Name: idx_users_plan_id; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_users_plan_id ON public.users USING btree (plan_id);


--
-- Name: idx_users_role_deleted_at; Type: INDEX; Schema: public; Owner: justiniano
--

CREATE INDEX idx_users_role_deleted_at ON public.users USING btree (role, deleted_at);


--
-- Name: attachments attachments_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.messages(id) ON DELETE SET NULL;


--
-- Name: attachments attachments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT attachments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: audit_events audit_events_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: clients clients_linked_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_linked_user_id_fkey FOREIGN KEY (linked_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: clients clients_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE RESTRICT;


--
-- Name: consultations consultations_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.consultations
    ADD CONSTRAINT consultations_agent_id_fkey FOREIGN KEY (agent_id) REFERENCES public.agents(id) ON DELETE RESTRICT;


--
-- Name: consultations consultations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.consultations
    ADD CONSTRAINT consultations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: credit_transactions credit_transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.credit_transactions
    ADD CONSTRAINT credit_transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: document_formats document_formats_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.document_formats
    ADD CONSTRAINT document_formats_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.document_areas(id) ON DELETE RESTRICT;


--
-- Name: documents documents_consultation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_consultation_id_fkey FOREIGN KEY (consultation_id) REFERENCES public.consultations(id) ON DELETE SET NULL;


--
-- Name: documents documents_format_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_format_id_fkey FOREIGN KEY (format_id) REFERENCES public.document_formats(id) ON DELETE RESTRICT;


--
-- Name: documents documents_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: history_access_log history_access_log_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.history_access_log
    ADD CONSTRAINT history_access_log_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: history_access_log history_access_log_lawyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.history_access_log
    ADD CONSTRAINT history_access_log_lawyer_id_fkey FOREIGN KEY (lawyer_id) REFERENCES public.lawyers(id) ON DELETE CASCADE;


--
-- Name: history_access_log history_access_log_review_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.history_access_log
    ADD CONSTRAINT history_access_log_review_id_fkey FOREIGN KEY (review_id) REFERENCES public.reviews(id) ON DELETE CASCADE;


--
-- Name: lawyer_fee_entries lawyer_fee_entries_lawyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_fee_entries
    ADD CONSTRAINT lawyer_fee_entries_lawyer_id_fkey FOREIGN KEY (lawyer_id) REFERENCES public.lawyers(id) ON DELETE RESTRICT;


--
-- Name: lawyer_fee_entries lawyer_fee_entries_rate_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_fee_entries
    ADD CONSTRAINT lawyer_fee_entries_rate_version_id_fkey FOREIGN KEY (rate_version_id) REFERENCES public.lawyer_fee_rates(id) ON DELETE RESTRICT;


--
-- Name: lawyer_fee_entries lawyer_fee_entries_review_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_fee_entries
    ADD CONSTRAINT lawyer_fee_entries_review_id_fkey FOREIGN KEY (review_id) REFERENCES public.reviews(id) ON DELETE RESTRICT;


--
-- Name: lawyer_fee_entries lawyer_fee_entries_settlement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_fee_entries
    ADD CONSTRAINT lawyer_fee_entries_settlement_id_fkey FOREIGN KEY (settlement_id) REFERENCES public.lawyer_settlements(id) ON DELETE SET NULL;


--
-- Name: lawyer_fee_rates lawyer_fee_rates_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_fee_rates
    ADD CONSTRAINT lawyer_fee_rates_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: lawyer_settlements lawyer_settlements_lawyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyer_settlements
    ADD CONSTRAINT lawyer_settlements_lawyer_id_fkey FOREIGN KEY (lawyer_id) REFERENCES public.lawyers(id) ON DELETE RESTRICT;


--
-- Name: lawyers lawyers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyers
    ADD CONSTRAINT lawyers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: lawyers lawyers_verified_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.lawyers
    ADD CONSTRAINT lawyers_verified_by_fkey FOREIGN KEY (verified_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: messages messages_consultation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_consultation_id_fkey FOREIGN KEY (consultation_id) REFERENCES public.consultations(id) ON DELETE CASCADE;


--
-- Name: otp_codes otp_codes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.otp_codes
    ADD CONSTRAINT otp_codes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payments payments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: plan_versions plan_versions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.plan_versions
    ADD CONSTRAINT plan_versions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: plan_versions plan_versions_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.plan_versions
    ADD CONSTRAINT plan_versions_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: review_annotations review_annotations_lawyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.review_annotations
    ADD CONSTRAINT review_annotations_lawyer_id_fkey FOREIGN KEY (lawyer_id) REFERENCES public.lawyers(id) ON DELETE CASCADE;


--
-- Name: review_annotations review_annotations_review_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.review_annotations
    ADD CONSTRAINT review_annotations_review_id_fkey FOREIGN KEY (review_id) REFERENCES public.reviews(id) ON DELETE CASCADE;


--
-- Name: review_messages review_messages_review_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.review_messages
    ADD CONSTRAINT review_messages_review_id_fkey FOREIGN KEY (review_id) REFERENCES public.reviews(id) ON DELETE CASCADE;


--
-- Name: review_messages review_messages_sender_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.review_messages
    ADD CONSTRAINT review_messages_sender_user_id_fkey FOREIGN KEY (sender_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: review_state_history review_state_history_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.review_state_history
    ADD CONSTRAINT review_state_history_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: review_state_history review_state_history_review_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.review_state_history
    ADD CONSTRAINT review_state_history_review_id_fkey FOREIGN KEY (review_id) REFERENCES public.reviews(id) ON DELETE CASCADE;


--
-- Name: reviews reviews_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: reviews reviews_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE SET NULL;


--
-- Name: reviews reviews_lawyer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_lawyer_id_fkey FOREIGN KEY (lawyer_id) REFERENCES public.lawyers(id) ON DELETE SET NULL;


--
-- Name: reviews reviews_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.messages(id) ON DELETE SET NULL;


--
-- Name: reviews reviews_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: sales_contracts sales_contracts_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.sales_contracts
    ADD CONSTRAINT sales_contracts_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id) ON DELETE SET NULL;


--
-- Name: sales_contracts sales_contracts_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.sales_contracts
    ADD CONSTRAINT sales_contracts_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON DELETE RESTRICT;


--
-- Name: sales_contracts sales_contracts_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.sales_contracts
    ADD CONSTRAINT sales_contracts_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(id) ON DELETE RESTRICT;


--
-- Name: sales_contracts sales_contracts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.sales_contracts
    ADD CONSTRAINT sales_contracts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: sellers sellers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.sellers
    ADD CONSTRAINT sellers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON DELETE RESTRICT;


--
-- Name: subscriptions subscriptions_plan_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_plan_version_id_fkey FOREIGN KEY (plan_version_id) REFERENCES public.plan_versions(id) ON DELETE SET NULL;


--
-- Name: subscriptions subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: justiniano
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict rDIjVnNQxTWbaPGGZEG40pP5LaLaE0LvfW9yooWrLtD7lHNZA6IFSTWjR4pKPhb

